html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: 100vw;
  height: 100vh;
}

[data-nextjs-scroll-focus-boundary] {
  display: contents;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main article div a {
  width: 100%;
  height: auto;
}

main .container-tiendas {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

main article div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto;
  margin-top: 20px;
  width: 98%;
}

main article div .card {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  margin-top: 50px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

main article div .maps {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 15px;
  border-radius: 15px;
  margin-top: 50px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-align: center;
}

main article div .comidas {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 15px;
  border-radius: 15px;
  margin-top: 50px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-align: center;
}

main article div .maps h5 {
  padding: 15px;
}

main article div .maps iframe {
  border-radius: 15px;
  padding: 10px;
}

main article div .card:first-child {
  margin-top: 15px;
}

main article div .card .tienda-image {
  width: 50%;
  height: auto;
  border-radius: 15px;
}
main article div .card .tienda-descripcion {
  width: 50%;
  height: 100% !important;
  padding: 0 20px;
  display: block;
}

main article div .card .tienda-descripcion h5 {
  padding-top: 5px;
}

main article div .card .tienda-descripcion p {
  padding-top: 5px;
}

/* main .card .tienda-descripcion p:last-child {
  padding: 0;
} */
/* login */

main article div.form-account {
  margin-top: 7em;
}

main article div form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  height: auto;
}

main article div div.bienvenida {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main article div h1 {
  font-size: 7em;
  margin: 0.8em 0;
}

main article div form input {
  background-color: #dedede;
  border: none;
  width: 100%;
  height: 70px;
  margin-top: 20px;
  font-size: 2em;
}

main article div form input[type="submit"] {
  width: 50%;
  margin: auto;
  margin-top: 3em;
}
/* register */
main article div.form-account-register h1 {
  text-align: center;
  font-weight: 500;
}
main article div.form-account-register {
  margin-top: 40%;
}
main article div form div.register-div {
  display: flex;
  flex-direction: row;
}

main article div form div.register-div input {
  width: 90%;
}

main article div form p.alert-email {
  text-align: center;
  width: 100%;
  font-size: 1.2em;
  font-weight: lighter;
  margin-top: 20px;
}
main article div form p.alert-email:last-child {
  margin-top: 0 !important;
}
/* register */

main article div .btn-red-account {
  background-color: #bc6868;
  border-radius: 15px;
  height: 120px;
  margin-top: 3em;
  font-size: 3em;
}

main article div div.crear-cuenta {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4em;
}

main article div div.crear-cuenta a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

main article div div.crear-cuenta a input {
  border: none;
  margin-top: 0;
}

main article div div.crear-cuenta p {
  font-size: 2em;
  margin-top: 5px;
}

main article div form label {
  margin-top: 40px;
  font-size: 2em;
}

/* estrellas */
p.clasificacion {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  font-size: 2em;
}

p.clasificacion input {
  position: absolute;
  top: -100px;
}

p.clasificacion label {
  float: right;
  color: #333;
}

p.clasificacion label:hover,
p.clasificacion label:hover ~ label,
p.clasificacion input:checked ~ label {
  color: #ffa400;
}
/* estrellas */

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
  body {
    color: #000000;
    background: #f2f2f2;
  }
}

@layer base {
  [data-nextjs-scroll-focus-boundary] {
    display: contents;
  }
}
